.portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    .portfolioGallery{
        ul{
            list-style: none;
            .projectOneWrapper{
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin:10px;
                .projectOneImage{
                    width: 20%;
                    height: 20%;
                }
                .projectOneText{
                    width: 25%;
                    ul{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        padding: 0;
                        li{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            font-size: 1.5rem;
                            i{
                                font-size: 4rem;
                            }
                        }
                    }
                    .partnerCredit{
                        font-size: 1.5rem;
                        a{
                            text-decoration: none;
                            color: mediumblue;
                        }
                    }
                button{
                    a{
                        text-decoration: none;
                        color: inherit;
                    }
                }
                }
            }
        
            .projectTwoWrapper{
                display: flex;
                flex-direction: row;
                justify-content: center;
                .projectTwoImage{
                    width: 20%;
                    height: 20%;
                    border-radius: 50%;
                }
                .projectTwoText{
                    width: 20%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }       
}