span.topAesthetics{
    font-family: $pseudoFont;
}

h1{
    font-family: $mainFont;
    font-size: 10rem;
}

 h4, h2{
    font-family: $bodyFont;
}

p {
    font-family: $bodyFont;
    font-size: 2rem;
}


